body {
  margin: 0;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
}

.teamOne {
  display: -webkit-flex;
  display: flex;
  width: 400px;
  height: 250px;
  float: left;
  padding-left: 25px;
  position: relative;
  top: 50px;
}

.teamTwo {
  display: -webkit-flex;
  display: flex;
  width: 400px;
  height: 250px;
  float: right;
  padding-right: 25px;
  position: relative;
  top: 50px;
}
.button {
    background-color: white;
    border: none;
    color: #4CAF50;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
    border: 2px solid #4CAF50;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: red;
  border: 2px solid red;
}

.disabled:hover {
  background-color: red;
}


th {
  background-color: black;
  color: white;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #f5f5f5}

table {
    border-collapse: collapse;
}

.proposedPlayersTeamOne {
  display: inline-block;
}

.proposedPlayersTeamTwo {
  display: inline-block;
}

.tradedPlayer {
  font-family: cursive;
}

.remove-player {
  color: red;
  border: 2px solid red;
}

.remove-player:hover {
  background-color: red;
}
.reset-trade {
  color: orange;
  border: 2px solid orange;
}

.reset-trade:hover {
  background-color: orange;
}

.absolute {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: grey;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
