body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F8F8F2;
  color: #292929
}

.App {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  grid-template-rows: 55px 50% 1fr;
}

.title {
  align-self: center;
}

.navbar {
  grid-column: 1 / span 3;
  grid-row: 1 / 1;
  background-color: #292929;
  color: white;
  align-self: center;
}

.teamOne {
  grid-column: 1 / 1;
}

.evalulatePlayers {
  grid-column: 2 / 2;
  align-self: center;
}

.teamTwo {
  grid-column: 3 / 3;
}

.proposedPlayersTeamOne {
  grid-column: 1 / 1;
}

.proposedPlayersTeamTwo {
  grid-column: 3 / 3;
}

.button {
    background-color: white;
    border: none;
    color: #6DBB75;
    padding: 8px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 8px;
    border: 2px solid #6DBB75;
}

.buttonLarge {
  padding: 14px 22px;
  font-size: 18px;
  margin-bottom: 5%
}

.button:hover {
  background-color: #6DBB75;
  color: white;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  color: red;
  border: 2px solid red;
  margin-top: 5%;
}

.disabled:hover {
  background-color: red;
}

th {
  background-color: #6DBB75;
  color: white;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #F2F2E8}
tr:nth-child(odd) {background-color: #F8F8F2}

table {
    border-collapse: collapse;
}

.tradedPlayer {
  align: center;
}

.remove-player {
  color: red;
  border: 2px solid red;
}

.remove-player:hover {
  background-color: red;
}
.reset-trade {
  color: orange;
  border: 2px solid orange;
}

.reset-trade:hover {
  background-color: orange;
}

.absolute {
  top:0;
  left:0;
  bottom:0;
  right:0;
  height:100%;
  width:100%;
  background: grey;
  opacity: 0.9;
  -webkit-animation: fadein .5s;
   -moz-animation: fadein .5s;
    -ms-animation: fadein .5s;
     -o-animation: fadein .5s;
        animation: fadein .5s;
        position:absolute;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .9; }
}

.message {
  color: white;
}

.thumbsUp {
  zoom: 15%;
  padding-top: 10%;
}

.thumbsDown {
  zoom: 50%;
  padding-top: 12%;
}

.proposedPlayersTable {
  margin-left:auto;
  margin-right:auto;
}

.playerImage {
  width: 40%;
  height: auto;
}

.teamLogo {
  width: 100%;
  height: auto;
}

.teamLogoSmall {
  width: 65%;
  height: auto;
}

.fantasyLogo {
  zoom: 10%;
}

.teamName {
  color: #292929;
  text-decoration: underline
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .app {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .navbar {
      grid-row: 1;
    }

    .teamOne {
      grid-column: 1 / 2;
      grid-row: 2;
    }

    .teamTwo {
      grid-column: 1 / 2;
      grid-row: 3;
      font-size: 12px;
    }

    .proposedPlayersTeamOne {
      grid-column: 1 / span 1;
      grid-row: 4;
      font-size: 10px;
    }

    .proposedPlayersTeamTwo {
      grid-column: 2 / span 2;
      grid-row: 4;
      font-size: 10px;
    }

    .evalulatePlayers {
      grid-column: 1 / span 3;
      grid-row: 6;
      margin-bottom: 35px;
    }

    .reset-trade {
      margin-left: 30px;
    }

    .playerImage {
      width: 100%;
      height: auto;
    }

    .teamLogo {
      width: 75%;
      height: auto;
    }

    th {
      font-size: 14px;
    }

    td {
      font-size: 12px;
    }

    .button {
        padding: 4px 7px;
        font-size: 14px
    }

    .remove-player {
      padding: 2px 2px;
      font-size: 8px;
    }

    .playerPosition {
      display: none;
    }

    .playerLogo {
      display: none;
    }

    .tradedPlayer td {
      font-size: 12px;
    }

    .absolute {
      height: 200%;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
    }

    .children {
      grid-row: 2;
    }

    .playerPoints {
      display: none;
    }
}
